<section class="text-center">
    <div class="container align-self-center">
        <div class="row">

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <a href="acao.html">
                        <img [src]="categoria.imagePath" class="card-img-top">
                    </a>
                    <div class="card-body">
                      <p class="card-text">{{categoria.titulo}}</p>
                    </div>
                </div>
            </div> 

        </div>
    </div>
</section>