<div *ngIf="!estudante.aprovado">
    <a href="#" (click)="exibir()">{{estudante.nome}}</a>
</div>

<div *ngIf="estudante.aprovado">
    <a href="#" (click)="exibir()">{{estudante.nome}}</a>
</div>

<div *ngIf="estudante.aprovado" [class.aprovado] = "estudante.aprovado">
    O aluno está aprovado! <button (click)="descricao.focus()">Foco!</button><br>
    <textarea #descricao></textarea>
</div>

<div *ngIf="!estudante.aprovado" [class.reprovado] = "!estudante.aprovado">
    O aluno está reprovado! <button (click)="descricao2.focus()">Foco!</button><br>
    <textarea #descricao2></textarea>
</div>

